body{
    background-color: #ffffff; /*White*/
    color: #000000; /*Black*/
    font-family: 'Overlock', cursive;
}

input{
    color: #000000; /*Black*/
}

.button{

    border: 0;

    font-weight: bold;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.correct{
    color: #27b119; /*Greenish*/
}

.incorrect{
    color: #c82b09; /*Redish*/
}

.jumbotron{
    background-color: #ffffff; /*White*/
    border: 5px solid #2d6fc6; /*Dark Blue*/
    border-radius: 0 0 25px 25px;
    color: #000000; /*Black*/
    padding: 10px;
}

.navbar-default{
    margin-bottom: 0;
}
.row{
    padding: 10px 15px 10px;
}

#next_word_button{
    display: none;
}

#pass_button{
    display: none;
}

#quiz{
    visibility: hidden;
}

#result{
    display: none;
}

#start_again_button{
    display: none;
}

#try_again_button{
    display: none;
}